.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.text-primary-bg {
  color: #D7746F;
  text-align: center !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a.navbar-brand.logo img {
  width: 200px;
}
@media(min-width:767px){
.siteTitle_style {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 0;
  display: inline-block;
  width: 283px;
  margin: 0 auto;
}
}
.sidebar-wrapper ul.nav li.nav-item{
  padding:0px !important;
}
.sidebar .sidebar-wrapper .nav li a{
  margin: 0px;
  padding:10px 15px;
}
.copyBlock{
  position: relative;
}
span.copied {
  position: absolute;
  left: 44px;
  bottom: 124%;
}